.qqq-btn{
	font-size: 2.5em;
	padding: 0.4em;
}
.qqq-h1{
	font-size: 2.5em;
	margin-top: .5em;
	margin-bottom: 0.3em;
}
.qqq-margin0{
	margin:0;
}
.qqq-row .qqq-row-right{
	border-left: 1px solid black;
}
.qqq-row .qqq-row-left{
	border-right: 1px solid black;
}
.qqq-well{
	padding: 1.42em;
}
@media screen and (max-width: 640px) {
	body{
		font-size: 8px;
	}
}
mark.stateOk{
	background:#5cb85c;
	color:#FFF;
}
mark.stateWarning{
	background:#d9534f;
	color:#FFF;
}