.qqq-btn{
	font-size: 2.5em;
}
.qqq-btn2{
	font-size: 2.15em;
}
.qqq-h1{
	font-size: 2.5em;
	margin-top: .5em;
	margin-bottom: 0.3em;
}
.qqq-margin0{
	margin:0;
}
.qqq-row .qqq-row-right{
	border-left: 1px solid black;
}
.qqq-row .qqq-row-left{
	border-right: 1px solid black;
}
.qqq-well{
	padding:13px;
}
@media screen and (max-width: 640px) {
	body{
		font-size: 8px;
	}
}